/* ----------------------
        RESET
------------------------*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

/* -----------------------------------
                DEBUG
--------------------------------------*/

/* .debug header{
    background-color: brown;
    border: 1px dashed black;
} */

section{
    border:2px solid red
}

.row .col{
    border: 1px solid red;
}
/* --------------------------
            BUTTONS and general
----------------------------*/
/* general */

.container-big{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.container-small{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}




/* buttons */

.btn-main{
    background-color: #0061fe;
    border: none;
    color: #ffffff;
    padding: 10px 15px;
    cursor: pointer;
}


/* ------------------------
        HEADER
---------------------------*/
header{
    max-height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;
    align-items: center;
}

.header-left{
    display: flex;
    gap: 40px;
    flex-grow: 1;
    align-items: center;
}

.header-right{
    display: flex;
    gap: 20px;
    flex-grow: 1;
    align-items: center;
}

nav{
    display:flex;
    gap:40px;
    align-items: center;
}

header a{
    color: black;
    text-decoration: none;
}

/* ------------------------
        hero
---------------------------*/

.hero{
    background-color: #b4d0e6;
    max-height: 750px;
    margin-bottom: 130px;
}

.hero h1{
    font-size: 80px;
    padding-top: 100px;
    padding-bottom: 60px;
}

.hero-content{
    display: flex;
}

.content-text{
    width: 30%;
    position: relative;
}

.content-text button{
    margin-top: 30px;
    margin-bottom: 30px;
}

.content-img{
    width: 70%;
}

.content-img img{
    max-width: 100%;
    max-height: 100%;
}

.hero-content i{
    font-size: 40px;
    position: absolute;
    bottom: 150px;
    left: 0;
}

/* -------------------------------
            MAIN
--------------------------------*/

/* first section */

.first-section-title h1{
    font-size: 40px;
    padding-top: 60px;
    margin-bottom: 60px;
}

#fat-ann{
    margin-left: 45px;    
}

.row{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    gap: 50px;
}

.col{
    width: calc(100% / 3);
}

.row .col{
    border: 1px solid #d0cfd4;
}

.col-header{
    text-align: center;
    border-bottom: 1px solid #d0cfd4;
    padding: 10px 0;
    margin-bottom: 30px;
}

.col-main{
    padding: 0 30px;
}

.col-main h1{
    margin-bottom: 20px;
}

.col-main .cost{
    margin-bottom: 50px;
}

.price{
    font-weight: 700;
    line-height: 2;
}

.cost-time{
    color: #6a6c69;
}

.col-main ul{
    list-style: none;
    margin-bottom: 50px;
}

li{
    padding-top: 18px;
    display: flex;
    gap: 10px;
}

.col-main .btn-main{
    width: 100%;
}
