/* ----------------------
        RESET
------------------------*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

/* -----------------------------------
                DEBUG
--------------------------------------*/

.debug header{
    background-color: brown;
    border: 1px dashed black;
}

/* --------------------------
            BUTTONS and general
----------------------------*/
/* general */

.container-big{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}




/* buttons */

.btn-main{
    background-color: #0061fe;
    border: none;
    color: #ffffff;
    padding: 10px 15px;
}


/* ------------------------
        HEADER
---------------------------*/
header{
    max-height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;
    align-items: center;
}

.header-left{
    display: flex;
    gap: 40px;
    flex-grow: 1;
    align-items: center;
}

.header-right{
    display: flex;
    gap: 20px;
    flex-grow: 1;
    align-items: center;
}

nav{
    display:flex;
    gap:40px;
    align-items: center;
}

header a{
    color: black;
    text-decoration: none;
}

/* ------------------------
        hero
---------------------------*/

.hero{
    background-color: #b4d0e6;
    max-height: 750px;
}

h1{
    font-size: 80px;
}

.hero-content{
    display: flex;
}

.content-text{
    width: 30%;
}

.content-img{
    width: 70%;
}

